<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="this.mesa">
      {{this.mesa}}
    </ion-title>
    <ion-title *ngIf="!this.mesa">
      Mesa vacia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item *ngFor="let item of listadoPanel;let i = index" (click)="productoServido(item)" >
  
  <div class="producto" col-6>
        <p>{{item.producto}}</p>
  </div>

  <div class="cantidad" col-3 >
        <p>x<strong>{{item.cantidad}}</strong></p>
  </div>

  <div class="precio" col-3 >
        <p>{{item.precio}}€</p>
  </div>

    <div class="tick" *ngIf="item.estado">
  <ion-img src="./assets/imagenes/checked.png"></ion-img>
  </div>
  
  </ion-item>

</ion-list>


</ion-content>


  <ion-footer>
    <ion-toolbar>
    <div class="pie" >
       <div class="total">
      <h2><strong>{{totalComanda()}}€</strong></h2>
    </div>
    <ion-button class="boton" (click)="cerrarMesa()" [disabled]="!this.cuentaMesa">Cerrar mesa</ion-button>
 
    </div>
    </ion-toolbar>
</ion-footer>