<ion-header>
  <ion-toolbar>
    <ion-title>
      Comanda 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item (click)="borrarUnidad(item)" *ngFor="let item of listadoPanel;let i = index">

  <div class="producto" col-6>
        <p>{{item.producto}}</p>
  </div>

  <div class="cantidad" col-3>
        <p>x<strong>{{item.cantidad}}</strong></p>
  </div>

  <div class="precio" col-3>
        <p>{{item.precio}}€</p>
  </div>
  </ion-item>

</ion-list>


</ion-content>


  <ion-footer>
    <ion-toolbar>
    <div class="pie" >
       <div class="total">
      <h2><strong>{{totalComanda()}}€</strong></h2>
    </div>
    <ion-button class="boton" (click)="cerrarMesa()" [disabled]="!listadoPanel.length">Cerrar mesa</ion-button>
 
    </div>
    </ion-toolbar>
</ion-footer>