
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Mesas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Arrastra para refrescar" refreshingSpinner="crescent"
          refreshingText="Cargando...">
        </ion-refresher-content>
</ion-refresher>
     
<div class="cuadricula">
<ion-card (click)="leerMesa(this.mesa.mesa1)" [ngClass]="{'green': (this.cuentaMesa1)}" *ngIf="this.mesa1ocupada">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa1.png"></ion-img>
  </div>

  <div class="descripcion">
<!--"-->
  <div class="producto">
    <strong><h2>Mesa 1</h2></strong>
  </div>


</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa2)" [ngClass]="{'verde': (this.cuentaMesa2)}" *ngIf="this.mesa2ocupada">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa2.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 2</h2></strong>
  </div>

</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa3)" [ngClass]="{'green': (this.cuentaMesa3)}" *ngIf="this.mesa3ocupada">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa3.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 3</h2></strong>
  </div>

</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa4)" [ngClass]="{'green': (this.cuentaMesa4)}" *ngIf="this.mesa4ocupada">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa4.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 4</h2></strong>
  </div>

</div>
</div>
</ion-card>


</div>


  



      
      
</ion-content>

