
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Mesas</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

     
<div class="cuadricula">
<ion-card (click)="leerMesa(this.mesa.mesa1)">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa1.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 1</h2></strong>
  </div>

</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa2)">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa2.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 2</h2></strong>
  </div>

</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa3)">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa3.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 3</h2></strong>
  </div>

</div>
</div>
</ion-card>

<ion-card (click)="leerMesa(this.mesa.mesa4)">
<div class="card">

  <div class="imagen">
    <ion-img src="./assets/imagenes/mesa4.png"></ion-img>
  </div>

  <div class="descripcion">

  <div class="producto">
    <strong><h2>Mesa 4</h2></strong>
  </div>

</div>
</div>
</ion-card>


</div>


  



      
      
</ion-content>

